.contenedor{    
    width: 80%; 
    /*para alinear texto*/
    text-align: center;
    /*alinear elementos de tipo bloque*/
    margin: auto;     
}

.centrar_elementos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;        
}